footer {
    position: fixed;
    min-height: 100px;
    bottom: 0;
    width: 100%;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

td img {
    width: 32px;
    height: 32px;
}

td .file_extension {
    width: 30px;
    height: 30px;
}

.stop_button {
    width: 48px;
    height: 48px;
}

.hover_div {
    cursor: pointer;
}

.pulse-box {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pulse-css {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background: tomato;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.pulse-css img {
    width: 45px;
    height: 45px;
}

.pulse-css:before, .pulse-css:after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: tomato;
    position: absolute;
    margin-left: 15px;
    margin-right: 16px;
    margin-top: 18px;
    top: 20px;
    left: 16px;
    transform: scale(0.0);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
}

.pulse-css:after {
    animation-delay: 2s;
}

@keyframes pulse-me {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    70% {
        opacity: 0.09;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}