{% extends "template.html"%}
{% block content %}
<form method="post" name="lib_form">
    <input type="hidden" name="currentSongPath">
    <input type="hidden" name="currentSongName">
    <input type="hidden" name="currentSongExt">

    <table class="table table-hover table-striped table-dark " style="margin-bottom: 116px">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for song in library %}
        <tr>
            <td>
                <button id='{{song.name.replace(" ", "")}}' data-song_name="{{song.name}}"
                        data-song_path="{{song.path}}" data-song_ext="{{song.extension}}"
                        class="bg-transparent border-0"
                        onclick="onPlayClick(this);">
                    <img src="../static/play-button.png" class="bg-transparent" alt="play"/>
                </button>
            </td>

            <td>{{ song.name|title|trim }}</td>
            <td>
                <img src="{{ url_for('static', filename='wav.png') }}" class="file_extension"
                     alt="{{ song.extension }}"/>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <footer class="fixed-bottom container p-3 bg-dark border-top">
        <div class="d-flex ">
            <div class="pulse-box bg-transparent border-0" onclick="onStopClick();">
                <div class="pulse-css">
                    <img class='stop_button' alt="" src="{{ url_for('static', filename='ic_stop.png') }}">
                </div>
            </div>

            <h4 class="p-2 mt-1 ml-2 text-white">
                {{song}}
            </h4>
        </div>
    </footer>
</form>

<script type="text/javascript">
    function onPlayClick(identifier) {
        let songPath = $(identifier).data('song_path');
        let songName = $(identifier).data('song_name')
        let songExt = $(identifier).data('song_ext')

        document.lib_form.action = "play_song";

        document.lib_form.currentSongExt.value = songExt
        document.lib_form.currentSongName.value = songName
        document.lib_form.currentSongPath.value = songPath
        document.lib_form.submit();

        return true;
    }

    function onStopClick() {
        document.lib_form.action = "stop";
        document.lib_form.submit();
        return true;
    }
</script>
<noscript>You need Javascript enabled for this to work</noscript>
{% endblock %}